<div class="container mt-5">
    <h2>Cursos oferecidos</h2>
    <div class="row">
        <div class="col-3 d-flex align-items-stretch">
            <div class="card shadow-sm">
                <img src="../../assets/img/php-logo.png" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h2 class="card-title text-center">PHP</h2>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus
                        cumque
                        laudantium deleniti dolor
                        totam.
                        Itaque illo quisquam quasi incidunt, molestias laboriosam fugit optio laborum quia
                        velit,
                        eligendi
                        soluta
                        quos hic!</p>

                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary btn-block">Saiba sobre</a>
                </div>
            </div>
        </div>
        <div class="col-3 d-flex align-items-stretch">
            <div class="card shadow-sm">
                <img src="../../assets/img/java-logo.png" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h2 class="card-title text-center">Java</h2>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus
                        cumque
                        laudantium deleniti dolor
                        totam.
                        Itaque illo quisquam quasi incidunt, molestias laboriosam fugit optio laborum quia
                        velit,
                        eligendi
                        soluta
                        quos hic!</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary btn-block">Saiba sobre</a>
                </div>
            </div>
        </div>
        <div class="col-3 d-flex align-items-stretch">
            <div class="card shadow-sm">
                <img src="../../assets/img/javascript-logo.png" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h2 class="card-title text-center">JavaScript</h2>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus
                        cumque
                        laudantium deleniti dolor
                        totam.
                        Itaque illo quisquam quasi incidunt, molestias laboriosam fugit optio laborum quia
                        velit,
                        eligendi
                        soluta
                        quos hic!</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary btn-block">Saiba sobre</a>
                </div>
            </div>
        </div>
        <div class="col-3 d-flex align-items-stretch">
            <div class="card shadow-sm">
                <img src="../../assets/img/csharp-logo.png" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h2 class="card-title text-center">C#</h2>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus
                        cumque
                        laudantium deleniti dolor
                        totam.
                        Itaque illo quisquam quasi incidunt, molestias laboriosam fugit optio laborum quia
                        velit,
                        eligendi
                        soluta
                        quos hic!</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary btn-block">Saiba sobre</a>
                </div>
            </div>
        </div>
    </div>
</div>