<div class="container mt-5">
    <h2>Nossos professores</h2>
    <div class="row">
        <div class="col-3 d-flex align-items-stretch">
            <div class="card shadow-sm">
                <img src="../../assets/img/avatar.png" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h2 class="card-title text-center">Raul Anthony</h2>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus
                        cumque
                        laudantium deleniti dolor
                        totam.
                        Itaque illo quisquam quasi incidunt, molestias laboriosam fugit optio laborum quia
                        velit,
                        eligendi
                        soluta
                        quos hic!</p>

                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary btn-block">Saiba sobre</a>
                </div>
            </div>
        </div>
        <div class="col-3 d-flex align-items-stretch">
            <div class="card shadow-sm">
                <img src="../../assets/img/avatar.png" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h2 class="card-title text-center">Gustavo Ryan</h2>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus
                        cumque
                        laudantium deleniti dolor
                        totam.
                        Itaque illo quisquam quasi incidunt, molestias laboriosam fugit optio laborum quia
                        velit,
                        eligendi
                        soluta
                        quos hic!</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary btn-block">Saiba sobre</a>
                </div>
            </div>
        </div>
        <div class="col-3 d-flex align-items-stretch">
            <div class="card shadow-sm">
                <img src="../../assets/img/avatar.png" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h2 class="card-title text-center">Loranzo Bruno</h2>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus
                        cumque
                        laudantium deleniti dolor
                        totam.
                        Itaque illo quisquam quasi incidunt, molestias laboriosam fugit optio laborum quia
                        velit,
                        eligendi
                        soluta
                        quos hic!</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary btn-block">Saiba sobre</a>
                </div>
            </div>
        </div>
        <div class="col-3 d-flex align-items-stretch">
            <div class="card shadow-sm">
                <img src="../../assets/img/avatar.png" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h2 class="card-title text-center">Petro Nathan</h2>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus
                        cumque
                        laudantium deleniti dolor
                        totam.
                        Itaque illo quisquam quasi incidunt, molestias laboriosam fugit optio laborum quia
                        velit,
                        eligendi
                        soluta
                        quos hic!</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary btn-block">Saiba sobre</a>
                </div>
            </div>
        </div>
    </div>
</div>