<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Hello, world!</title>
</head>

<body class="d-flex flex-column">
  <app-header></app-header>

  <div id="page-content">

    <!-- <app-modal-cadastro></app-modal-cadastro> -->
    <app-cursos></app-cursos>
    <app-professores></app-professores>
  </div>
  <!-- <app-footer></app-footer> -->
</body>

</html>